/*

!.gitignore
!README.md
!Zip-Resources.ps1
!MIDI-Help.md
!.vscode


!*-schema.json

!resources
resources/*
!resources/Fonts

# Shader
!resources/sh_Shaders
resources/sh_Shaders/*
!resources/sh_Shaders/sh_ErrorGraph.fs