@import "styles/theme.scss";

.notation-display {
    width: 100%;
    height: 100%;
    background: white;
    color: black;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    canvas {
        width: 100%;
    }

    #title {
        white-space: nowrap;
    }

    #visualContainer {
        display: flex;
        flex-grow: 1;
        position: relative;


        #youtube-target {
            height: 100%;
        }
    }

    .timeline {
        height: 50px;
        background: rgba(4, 4, 4, 0.9);
        position: relative;

        .timer {
            color: white;
            font-size: 18px;
            text-align: center;
            position: absolute;
            width: 100%;
        }

        .bar-container {
            position: absolute;
            bottom: 0;
            padding: 0 18px;
            width: 100%;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;

            .bar {
                width: 100%;
                height: 6px;
                border-radius: 3px;
                background: honeydew;
                position: relative;

                .thumb {
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background: gold;
                    box-shadow: 0 0 3px khaki,
                        0 0 6px khaki,
                        0 0 12px khaki,
                }
            }
        }
    }
}

.search {
    position: absolute;
    right: 0;
    z-index: 10;
    width: 100%;
    max-width: 700px;
    background: fade-out($DarkActiveBackground, 0.18);
    color: white;

    >#map-count {
        font-size: 16px;
        padding: $s $s2;
    }

    >input {
        color: inherit;
        background: none;
        width: 100%;
        font-size: 26px;
        padding: $s2;

        &::placeholder {
            color: white;
            opacity: 0.4;
        }
    }

}

$card-width: 600px;

#map-selector {
    overflow: hidden;
    height: 100%;
    flex-basis: $card-width + $s*4;
    right: 0;
    position: relative;

    >#no-maps {
        text-align: center;
        translate: 0 -50%;
        position: relative;
        top: 50%;
        font-size: 1.5em;
    }
}

.beatmap-card-wrapper {
    padding: $s*1.5 $s2;
    max-width: 100%;
    width: $card-width + $s2 * 2;
    position: absolute;
    right: 0;
}

.beatmap-card-wrapper>div {
    cursor: pointer;
    background: $DarkBackground;
    padding: $s 0 $s $s3;

    border-radius: $s;
    box-shadow: 0 0 $s2 $LightBorder,
        0 0 $s2 $LightBorder,
        0 0 $s3 $LightBorder;

    height: 94px;

    &:hover {
        background: mix($DarkBackground, $DarkActiveBackground);
    }

    &.active {
        background: $DarkActiveBackground;
    }

    >*:not(.title) {
        font-size: $FontSize * 0.68;
        padding-left: $s2;
    }

    white-space: nowrap;

    position: relative;

    $title-height: $FontSize * 1.4;

    .artist {
        top: $title-height;
        position: absolute;
    }

    .bottom-line {
        bottom: $s2;
        position: absolute;

    }

    .date {
        position: absolute;
        bottom: $s2;
        right: $s2;
    }
}

.wip {
    opacity: 0.5;
    font-size: 0.8em;
    padding: $s;
    position: absolute;
    bottom: 0;
    right: 0;

    @include xs {
        font-size: 0.6em;
    }
}

#dtx-page,
#map-selector-page {
    display: flex;

    @include sm {
        flex-direction: column;

        img {
            max-height: 20vh;
        }

        #map-selector {
            width: 100%;
        }
    }

    #map-preview {
        flex: 1;
        padding: 10px;
        font-size: 1.1em;

        @include xs {
            font-size: 0.75em; // help prevent title becoming 2 lines
        }

        h3 {
            line-height: 1.5em; // prevent height from changing based on the text content
            word-break: keep-all; // prevent breaking between Japanese characters
        }

        img {
            height: 300px;
            max-width: 300px;
            object-fit: cover;
        }
    }
}